# 1. 환경설정

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import koreanize_matplotlib
import seaborn as sns

In [4]:
# 지수표현 없애기
pd.options.display.float_format = '{:.2f}'.format

# 2. 데이터 불러오기

In [5]:
hackle_device_path = 'dumps/hackle_csv/device_properties.csv'
hackle_events_path = 'dumps/hackle_csv/hackle_events.csv'
hackle_prop_path = 'dumps/hackle_csv/hackle_properties.csv'
hackle_user_path = 'dumps/hackle_csv/user_properties.csv'

In [6]:
raw_hackle_device = pd.read_csv(hackle_device_path)
raw_hackle_events = pd.read_csv(hackle_events_path)
raw_hackle_propeties = pd.read_csv(hackle_prop_path)
raw_hackle_user = pd.read_csv(hackle_user_path, dtype={0: str})

In [14]:
attendance_path = 'dumps/vote_csv/accounts_attendance.csv'
blockrecord_path = 'dumps/vote_csv/accounts_blockrecord.csv'
failpayment_path = 'dumps/vote_csv/accounts_failpaymenthistory.csv'
friendrequest_path = 'dumps/vote_csv/accounts_friendrequest.csv'
group_path = 'dumps/vote_csv/accounts_group.csv'
nearbyschool_path = 'dumps/vote_csv/accounts_nearbyschool.csv'
payment_path = 'dumps/vote_csv/accounts_paymenthistory.csv'
point_path = 'dumps/vote_csv/accounts_pointhistory.csv'
school_path = 'dumps/vote_csv/accounts_school.csv'
timeline_path = 'dumps/vote_csv/accounts_timelinereport.csv'
user_contacts_path = 'dumps/vote_csv/accounts_user_contacts.csv'
vote_user_path = 'dumps/vote_csv/accounts_user.csv'
user_question_path = 'dumps/vote_csv/accounts_userquestionrecord.csv'
userwithdraw_path = 'dumps/vote_csv/accounts_userwithdraw.csv'
vote_event_receipts_path = 'dumps/vote_csv/event_receipts.csv'
vote_events_path = 'dumps/vote_csv/events.csv'
polls_question_path = 'dumps/vote_csv/polls_question.csv'
polls_question_piece_path = 'dumps/vote_csv/polls_questionpiece.csv'
polls_question_report_path = 'dumps/vote_csv/polls_questionreport.csv'
polls_questionset_path = 'dumps/vote_csv/polls_questionset.csv'
polls_user_candidate_path = 'dumps/vote_csv/polls_usercandidate.csv'

In [15]:
raw_attendance = pd.read_csv(attendance_path)
raw_blockrecord = pd.read_csv(blockrecord_path)
raw_failpayment = pd.read_csv(failpayment_path)
raw_friendrequest = pd.read_csv(friendrequest_path)
raw_group = pd.read_csv(group_path)
raw_nearbyschool = pd.read_csv(nearbyschool_path)
payment_path = pd.read_csv(payment_path)
raw_point = pd.read_csv(point_path)
raw_school = pd.read_csv(school_path)
raw_timeline = pd.read_csv(timeline_path)
raw_user_contacts = pd.read_csv(user_contacts_path)
raw_vote_user = pd.read_csv(vote_user_path)
raw_user_question = pd.read_csv(user_question_path)
raw_userwithdraw = pd.read_csv(userwithdraw_path)
raw_vote_event_recipts = pd.read_csv(vote_event_receipts_path)
raw_vote_events = pd.read_csv(vote_events_path)
raw_polls_question = pd.read_csv(polls_question_path)
raw_polls_question_piece = pd.read_csv(polls_question_piece_path)
raw_polls_question_report = pd.read_csv(polls_question_report_path)
raw_polls_questionset = pd.read_csv(polls_questionset_path)
raw_polls_user = pd.read_csv(polls_user_candidate_path)

# 3. 데이터 확인

## 3-1. hackle table

### 3-1-1. 기기 설정

In [16]:
raw_hackle_device.head()

   id                             device_id device_model device_vendor
0   1  000007C9-E103-4EB5-9777-A9084D4952DF   iPhone14,7         Apple
1   2  00002245-458F-4CDD-8533-B448CD43DBD2   iPhone14,7         Apple
2   3  00012620-313A-4502-9F8D-8DAB7443215B   iPhone14,5         Apple
3   4  000137bc-80de-4bb5-b61d-df7f217a4501     SM-F711N       samsung
4   5  000227D6-B782-4367-91C4-486B76DF9E37   iPhone12,3         Apple

In [17]:
# 결측치 없음
raw_hackle_device.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252380 entries, 0 to 252379
Data columns (total 4 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             252380 non-null  int64
 1   device_id      252380 non-null  object
 2   device_model   252380 non-null  object
 3   device_vendor  252380 non-null  object
dtypes: int64(1), object(3)
memory usage: 7.7+ MB

In [18]:
# 전체중복값은 없음
raw_hackle_device.duplicated().sum()

np.int64(0)

In [19]:
# device_id 고유값이 다르다 = 중복값이 있다!
raw_hackle_device['device_id'].nunique()

251720

In [20]:
# device 중복행 660개
raw_hackle_device['device_id'].duplicated().sum()

np.int64(660)

In [21]:
# 기기가 바뀌었음. 모델은 상관 없으니까 keep=last로 남겨도 되나?
raw_hackle_device[raw_hackle_device['device_id'].duplicated(keep=False)].sort_values(by=['device_id', 'id']).head(10)

        id                             device_id device_model device_vendor
16      17  0006bed8-512b-48f9-9b33-f79bb1e225a8     SM-A325N       samsung
17      18  0006bed8-512b-48f9-9b33-f79bb1e225a8     SM-S911N       samsung
704    705  00bf3a4e-4ef9-4a6a-8558-cc5f68d4041d     SM-A546S       samsung
705    706  00bf3a4e-4ef9-4a6a-8558-cc5f68d4041d     SM-A716S       samsung
1718  1719  01BBBADC-073C-4AEC-8C00-52F0A29577B4   iPhone12,8         Apple
1719  1720  01BBBADC-073C-4AEC-8C00-52F0A29577B4   iPhone14,4         Apple
1824  1825  01D2DB25-5EF6-447C-B3FA-63156C4DCBCF   iPhone12,1         Apple
1825  1826  01D2DB25-5EF6-447C-B3FA-63156C4DCBCF   iPhone14,5         Apple
2134  2135  021fd2a9-a0e5-42e8-b9d1-0c2244101869     SM-A315N       samsung
2135  2136  021fd2a9-a0e5-42e8-b9d1-0c2244101869     SM-S918N       samsung

In [22]:
device_id_count = raw_hackle_device.groupby(by='device_id').agg(id_count=('id', 'count')).reset_index()
one_device_more_id = device_id_count['id_count'] > 1
print(f"device_id 최대 중복횟수 : {device_id_count[one_device_more_id]['id_count'].max()}회")
# 기기가 바뀐 이력은 최대 1번
# 그냥 keep=last 하면 될듯!

device_id 최대 중복횟수 : 2회

In [23]:
raw_hackle_device['device_model'].nunique()

522

### 3-1-2. 해클 속성

In [24]:
# hackle table merge
raw_hackle_merge = pd.merge(raw_hackle_propeties, raw_hackle_events, on='session_id')

In [25]:
raw_hackle_propeties.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525350 entries, 0 to 525349
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   id           525350 non-null  int64
 1   session_id   525350 non-null  object
 2   user_id      443095 non-null  object
 3   language     525350 non-null  object
 4   osname       525350 non-null  object
 5   osversion    525350 non-null  object
 6   versionname  525350 non-null  object
 7   device_id    525350 non-null  object
dtypes: int64(1), object(7)
memory usage: 32.1+ MB

In [26]:
raw_hackle_propeties.describe()

             id
count 525350.00
mean  262675.50
std   151655.63
min        1.00
25%   131338.25
50%   262675.50
75%   394012.75
max   525350.00

In [27]:
# 전체 중복행 없음
raw_hackle_propeties.duplicated().sum()

np.int64(0)

In [28]:
# 행은 50만개인데 session은 27만개
# 이게 이상해서 찾기 시작한건데 생각해보니까 당연함.. session 내에 이벤트로그마다 행이 찍혔을테니까..ㅋㅎㅋㅎ
raw_hackle_propeties['session_id'].duplicated().sum()

np.int64(271734)

In [29]:
# 다 똑같은데 왜 user_id가 두개지..? #id 282908, 518234
raw_hackle_propeties[raw_hackle_propeties['session_id'].duplicated(keep=False)].sort_values(by=['session_id', 'id']).head(10)

,id,session_id,user_id,language,osname,osversion,versionname,device_id
16284,16285,00025EE1-BA46-4853-8FDD-B991FABA328F,1555160,ko-KR,iOS,16.5.1,2.0.5,00025EE1-BA46-4853-8FDD-B991FABA328F
284486,284487,00025EE1-BA46-4853-8FDD-B991FABA328F,1555160,ko-KR,iOS,16.5.1,2.0.3,00025EE1-BA46-4853-8FDD-B991FABA328F
136925,136926,0004F43C-3A7A-4DE4-A02B-55AFDF07E9AD,1189864,ko-KR,iOS,16.5.1,2.0.5,0004F43C-3A7A-4DE4-A02B-55AFDF07E9AD
429521,429522,0004F43C-3A7A-4DE4-A02B-55AFDF07E9AD,BZulJkzkd5O2AfSkIzDXzJgPxbu2,ko-KR,iOS,16.5.1,2.0.5,0004F43C-3A7A-4DE4-A02B-55AFDF07E9AD
485840,485841,0004F43C-3A7A-4DE4-A02B-55AFDF07E9AD,BZulJkzkd5O2AfSkIzDXzJgPxbu2,ko-KR,iOS,16.5.1,1.2.15,0004F43C-3A7A-4DE4-A02B-55AFDF07E9AD
282097,282098,00057831-A672-4163-9C02-AB920A371F2C,1548609,ko-KR,iOS,16.1.2,2.0.5,00057831-A672-4163-9C02-AB920A371F2C
518233,518234,00057831-A672-4163-9C02-AB920A371F2C,c5gLjsxgDkRXXlQlYQPH0CkosKf2,ko-KR,iOS,16.1.2,2.0.5,00057831-A672-4163-9C02-AB920A371F2C
94110,94111,000638C3-2BC2-4068-A482-861B526B2651,860893,ko-KR,iOS,16.5.1,2.0.5,000638C3-2BC2-4068-A482-861B526B2651
360177,360178,000638C3-2BC2-4068-A482-861B526B2651,NaN,ko-KR,iOS,16.5.1,2.0.5,000638C3-2BC2-4068-A482-861B526B2651
144444,144445,000C66B7-BD0A-4238-9560-A86E4A3A60A4,1457308,ko-KR,iOS,16.5.1,2.0.5,000C66B7-BD0A-4238-9560-A86E4A3A60A4

In [30]:
# 핸드폰도 안바꿨음 ..
raw_hackle_device[raw_hackle_device['device_id'] == '00057831-A672-4163-9C02-AB920A371F2C']

    id                             device_id device_model device_vendor
12  13  00057831-A672-4163-9C02-AB920A371F2C   iPhone14,2         Apple

In [31]:
# hackle event 안에서 서치..
userid_duplicated_in_merge = raw_hackle_merge[raw_hackle_merge['session_id'] == '00057831-A672-4163-9C02-AB920A371F2C']
userid_duplicated_in_merge.sort_values(by='event_datetime')[['event_datetime', 'user_id', 'osname', 'osversion', 'versionname', 'device_id', 'event_key', 'question_id']].head(30)

,event_datetime,user_id,osname,osversion,versionname,device_id,event_key,question_id
27133240,2023-07-26 09:47:49,c5gLjsxgDkRXXlQlYQPH0CkosKf2,iOS,16.1.2,2.0.5,00057831-A672-4163-9C02-AB920A371F2C,launch_app,NaN
27133247,2023-07-26 09:47:49,c5gLjsxgDkRXXlQlYQPH0CkosKf2,iOS,16.1.2,2.0.5,00057831-A672-4163-9C02-AB920A371F2C,$session_start,NaN
19246712,2023-07-26 09:47:49,1548609,iOS,16.1.2,2.0.5,00057831-A672-4163-9C02-AB920A371F2C,$session_start,NaN
19246703,2023-07-26 09:47:49,1548609,iOS,16.1.2,2.0.5,00057831-A672-4163-9C02-AB920A371F2C,$session_end,NaN
27133238,2023-07-26 09:47:49,c5gLjsxgDkRXXlQlYQPH0CkosKf2,iOS,16.1.2,2.0.5,00057831-A672-4163-9C02-AB920A371F2C,$session_end,NaN
19246705,2023-07-26 09:47:49,1548609,iOS,16.1.2,2.0.5,00057831-A672-4163-9C02-AB920A371F2C,launch_app,NaN
27133237,2023-07-26 09:47:51,c5gLjsxgDkRXXlQlYQPH0CkosKf2,iOS,16.1.2,2.0.5,00057831-A672-4163-9C02-AB920A371F2C,$session_start,NaN
19246702,2023-07-26 09:47:51,1548609,iOS,16.1.2,2.0.5,00057831-A672-4163-9C02-AB920A371F2C,$session_start,NaN
27133212,2023-07-26 09:47:58,c5gLjsxgDkRXXlQlYQPH0CkosKf2,iOS,16.1.2,2.0.5,00057831-A672-4163-9C02-AB920A371F2C,click_question_start,NaN
19246677,2023-07-26 09:47:58,1548609,iOS,16.1.2,2.0.5,00057831-A672-4163-9C02-AB920A371F2C,click_question_start,NaN
27133243,2023-07-26 09:49:07,c5gLjsxgDkRXXlQlYQPH0CkosKf2,iOS,16.1.2,2.0.5,00057831-A672-4163-9C02-AB920A371F2C,$session_end,NaN
19246708,2023-07-26 09:49:07,1548609,iOS,16.1.2,2.0.5,00057831-A672-4163-9C02-AB920A371F2C,$session_end,NaN
19246683,2023-07-26 14:11:16,1548609,iOS,16.1.2,2.0.5,00057831-A672-4163-9C02-AB920A371F2C,$session_start,NaN
27133215,2023-07-26 14:11:16,c5gLjsxgDkRXXlQlYQPH0CkosKf2,iOS,16.1.2,2.0.5,00057831-A672-4163-9C02-AB920A371F2C,launch_app,NaN
19246680,2023-07-26 14:11:16,1548609,iOS,16.1.2,2.0.5,00057831-A672-4163-9C02-AB920A371F2C,launch_app,NaN
27133218,2023-07-26 14:11:16,c5gLjsxgDkRXXlQlYQPH0CkosKf2,iOS,16.1.2,2.0.5,00057831-A672-4163-9C02-AB920A371F2C,$session_start,NaN
27133205,2023-07-26 14:11:18,c5gLjsxgDkRXXlQlYQPH0CkosKf2,iOS,16.1.2,2.0.5,00057831-A672-4163-9C02-AB920A371F2C,click_question_start,NaN
19246670,2023-07-26 14:11:18,1548609,iOS,16.1.2,2.0.5,00057831-A672-4163-9C02-AB920A371F2C,click_question_start,NaN
19246682,2023-07-26 14:11:26,1548609,iOS,16.1.2,2.0.5,00057831-A672-4163-9C02-AB920A371F2C,skip_question,2441.00
27133217,2023-07-26 14:11:26,c5gLjsxgDkRXXlQlYQPH0CkosKf2,iOS,16.1.2,2.0.5,00057831-A672-4163-9C02-AB920A371F2C,skip_question,2441.00
19246709,2023-07-26 14:11:30,1548609,iOS,16.1.2,2.0.5,00057831-A672-4163-9C02-AB920A371F2C,skip_question,1192.00
27133244,2023-07-26 14:11:30,c5gLjsxgDkRXXlQlYQPH0CkosKf2,iOS,16.1.2,2.0.5,00057831-A672-4163-9C02-AB920A371F2C,skip_question,1192.00
19246701,2023-07-26 14:11:33,1548609,iOS,16.1.2,2.0.5,00057831-A672-4163-9C02-AB920A371F2C,skip_question,4568.00
27133236,2023-07-26 14:11:33,c5gLjsxgDkRXXlQlYQPH0CkosKf2,iOS,16.1.2,2.0.5,00057831-A672-4163-9C02-AB920A371F2C,skip_question,4568.00
27133206,2023-07-26 14:11:37,c5gLjsxgDkRXXlQlYQPH0CkosKf2,iOS,16.1.2,2.0.5,00057831-A672-4163-9C02-AB920A371F2C,$session_end,NaN
19246671,2023-07-26 14:11:37,1548609,iOS,16.1.2,2.0.5,00057831-A672-4163-9C02-AB920A371F2C,$session_end,NaN
27133214,2023-07-26 17:11:20,c5gLjsxgDkRXXlQlYQPH0CkosKf2,iOS,16.1.2,2.0.5,00057831-A672-4163-9C02-AB920A371F2C,$session_start,NaN
19246674,2023-07-26 17:11:20,1548609,iOS,16.1.2,2.0.5,00057831-A672-4163-9C02-AB920A371F2C,click_question_start,NaN
27133209,2023-07-26 17:11:20,c5gLjsxgDkRXXlQlYQPH0CkosKf2,iOS,16.1.2,2.0.5,00057831-A672-4163-9C02-AB920A371F2C,click_question_start,NaN
19246679,2023-07-26 17:11:20,1548609,iOS,16.1.2,2.0.5,00057831-A672-4163-9C02-AB920A371F2C,$session_start,NaN

In [32]:
# 완전히 중복된 로그.. 아오
userid_duplicated_in_merge.groupby(by='user_id').agg(count=('event_key', 'count'))

                              count
user_id
1548609                          44
c5gLjsxgDkRXXlQlYQPH0CkosKf2     44

In [33]:
# 행동에 이상은 없어보임
userid_duplicated_in_merge['event_key'].unique()

array(['click_question_start', '$session_end', 'skip_question',
       'launch_app', 'click_question_open', '$session_start',
       'view_lab_tap', 'complete_question', 'view_profile_tap',
       'view_timeline_tap', 'click_bottom_navigation_lab'], dtype=object)

- 미치겠네 urser_id 중복 상상도못한 정체; 이걸 어케찾지

In [34]:
# 하나의 session_id에 user_id가 2개 이상인 경우는 몇 건인지?
# 2만건은 잘못 계산했던거..
session_duplicated_user = raw_hackle_merge.groupby(by='session_id').agg(user_count=('user_id', 'nunique')).reset_index().sort_values(by='user_count', ascending=False)
sdu_cond1 = session_duplicated_user['user_count'] > 1
session_duplicated_user[sdu_cond1]

                                  session_id  user_count
1129    040914e1-61ac-40ef-b76a-718066d880dc           5
49056   755E96D9-A7A4-4E15-A688-759D7FB53963           3
3209    0CC53548-EB9A-4AE5-A72E-5D765B3BB1F9           3
217819          odyNAkJOgycJ8MTlmh2p5bOdOnX2           3
111386          JZWG739A2gVOXuDZwx8l3MEF9zN2           3
...                                      ...         ...
20124           2wp14t7q23a3wMGr9LWYXrnOR5j1           2
67352           9lnUOCzlcSNDivfwcV7SteUeKMg2           2
47246           6tmimgMhCJcdr6r5TyvJbj92I6J3           2
16762           2CNJkWUb8eazVlSAl5q8hPqCYY62           2
36572   591e520c-a536-433a-8c66-aa3e4c6c8d30           2

[87793 rows x 2 columns]

In [35]:
# 한 session에 user_id가 5개?
userid_duplicated_in_merge = raw_hackle_merge[raw_hackle_merge['session_id'] == '040914e1-61ac-40ef-b76a-718066d880dc']
userid_duplicated_in_merge.sort_values(by='event_datetime')[['event_datetime', 'user_id', 'osname', 'osversion', 'versionname', 'device_id', 'event_key']].head(30)

,event_datetime,user_id,osname,osversion,versionname,device_id,event_key
18142573,2023-07-21 02:33:30,1577954,Android,13,2.0.3,040914e1-61ac-40ef-b76a-718066d880dc,launch_app
2243193,2023-07-21 02:33:30,1577938,Android,13,2.0.3,040914e1-61ac-40ef-b76a-718066d880dc,launch_app
18142714,2023-07-21 02:33:30,1577954,Android,13,2.0.3,040914e1-61ac-40ef-b76a-718066d880dc,$session_start
20384297,2023-07-21 02:33:30,849763,Android,13,2.0.3,040914e1-61ac-40ef-b76a-718066d880dc,$session_start
7699023,2023-07-21 02:33:30,1577938,Android,13,2.0.5,040914e1-61ac-40ef-b76a-718066d880dc,launch_app
18378080,2023-07-21 02:33:30,NaN,Android,13,2.0.3,040914e1-61ac-40ef-b76a-718066d880dc,launch_app
3616475,2023-07-21 02:33:30,1577954,Android,13,2.0.5,040914e1-61ac-40ef-b76a-718066d880dc,launch_app
11233617,2023-07-21 02:33:30,NaN,Android,13,2.0.5,040914e1-61ac-40ef-b76a-718066d880dc,$session_start
11233476,2023-07-21 02:33:30,NaN,Android,13,2.0.5,040914e1-61ac-40ef-b76a-718066d880dc,launch_app
15080493,2023-07-21 02:33:30,1577930,Android,13,2.0.3,040914e1-61ac-40ef-b76a-718066d880dc,launch_app
7699164,2023-07-21 02:33:30,1577938,Android,13,2.0.5,040914e1-61ac-40ef-b76a-718066d880dc,$session_start
15080634,2023-07-21 02:33:30,1577930,Android,13,2.0.3,040914e1-61ac-40ef-b76a-718066d880dc,$session_start
20384156,2023-07-21 02:33:30,849763,Android,13,2.0.3,040914e1-61ac-40ef-b76a-718066d880dc,launch_app
18378221,2023-07-21 02:33:30,NaN,Android,13,2.0.3,040914e1-61ac-40ef-b76a-718066d880dc,$session_start
2243334,2023-07-21 02:33:30,1577938,Android,13,2.0.3,040914e1-61ac-40ef-b76a-718066d880dc,$session_start
3616616,2023-07-21 02:33:30,1577954,Android,13,2.0.5,040914e1-61ac-40ef-b76a-718066d880dc,$session_start
15702765,2023-07-21 02:33:30,838541,Android,13,2.0.3,040914e1-61ac-40ef-b76a-718066d880dc,launch_app
15702906,2023-07-21 02:33:30,838541,Android,13,2.0.3,040914e1-61ac-40ef-b76a-718066d880dc,$session_start
11233602,2023-07-21 02:33:34,NaN,Android,13,2.0.5,040914e1-61ac-40ef-b76a-718066d880dc,view_login
20384282,2023-07-21 02:33:34,849763,Android,13,2.0.3,040914e1-61ac-40ef-b76a-718066d880dc,view_login
2243319,2023-07-21 02:33:34,1577938,Android,13,2.0.3,040914e1-61ac-40ef-b76a-718066d880dc,view_login
15080619,2023-07-21 02:33:34,1577930,Android,13,2.0.3,040914e1-61ac-40ef-b76a-718066d880dc,view_login
18142699,2023-07-21 02:33:34,1577954,Android,13,2.0.3,040914e1-61ac-40ef-b76a-718066d880dc,view_login
15702891,2023-07-21 02:33:34,838541,Android,13,2.0.3,040914e1-61ac-40ef-b76a-718066d880dc,view_login
3616601,2023-07-21 02:33:34,1577954,Android,13,2.0.5,040914e1-61ac-40ef-b76a-718066d880dc,view_login
18378206,2023-07-21 02:33:34,NaN,Android,13,2.0.3,040914e1-61ac-40ef-b76a-718066d880dc,view_login
7699149,2023-07-21 02:33:34,1577938,Android,13,2.0.5,040914e1-61ac-40ef-b76a-718066d880dc,view_login
18377917,2023-07-21 02:33:38,NaN,Android,13,2.0.3,040914e1-61ac-40ef-b76a-718066d880dc,$session_end
18142410,2023-07-21 02:33:38,1577954,Android,13,2.0.3,040914e1-61ac-40ef-b76a-718066d880dc,$session_end
18142439,2023-07-21 02:33:38,1577954,Android,13,2.0.3,040914e1-61ac-40ef-b76a-718066d880dc,$session_start

In [36]:
userid_duplicated_in_merge.groupby(by='user_id').agg(count=('event_key', 'count'))

         count
user_id
1577930    568
1577938   1136
1577954   1136
838541     568
849763     568

- 같은 로그가 버전별로(2.0.3, 2.0.5) 남기도 하고, 결측치로 남기도 하고..난리브루스네
- 이러면 hackle_events에서 결측치가 비회원일거라는 보장도 없음
- android랑 ios의 차이도 있나?

In [37]:
# 한 session_id에서 여러개의 user_id가 있는 중복 로그로 추정되는 로그들의 기기는 ios가 더 많았다.
session_duplicated_user_list = session_duplicated_user[sdu_cond1]['session_id'].unique()
filtered_session_duplicated_user = raw_hackle_merge[raw_hackle_merge['session_id'].isin(session_duplicated_user_list)]
session_os_info = filtered_session_duplicated_user.drop_duplicates('session_id', keep='last')
session_os_info['osname'].value_counts()

osname
iOS        58792
Android    29001
Name: count, dtype: int64

In [38]:
# 그럼 앱 버전은?
# ['versionname'].value_counts()
# 이건.. 모르겠네요 ..

- user_id를 하나만 남기는 방법이 뭐가 있을까
- 한 session_id 내에서 device_id를 기준으로 event_key가 가장 많이 찍힌 user_id만 남긴다?

In [39]:
# 내부데이터 중 유저아이디랑 비교
print(f"내부데이터 유저아이디 행: {len(raw_vote_user)}")
print(f"내부데이터 유저아이디 고유값: {raw_vote_user['id'].nunique()}")

내부데이터 유저아이디 행: 677085
내부데이터 유저아이디 고유값: 677085

In [40]:
raw_vote_user.duplicated().sum()

np.int64(0)

In [41]:
raw_vote_user.describe()

,id,is_superuser,is_staff,point,is_push_on,report_count,alarm_count,pending_chat,pending_votes,group_id
count,677085.00,677085.00,677085.00,677085.00,677085.00,677085.00,677085.00,677085.00,677085.00,677082.00
mean,1212969.13,0.00,0.00,3039.14,0.84,0.04,0.95,0.10,84.63,37022.98
std,213897.05,0.00,0.00,1076019.94,0.36,0.59,56.11,11.09,123.26,21997.77
min,831956.00,0.00,0.00,0.00,0.00,0.00,0.00,-1.00,0.00,1.00
25%,1028075.00,0.00,0.00,400.00,1.00,0.00,0.00,0.00,2.00,18488.00
50%,1211729.00,0.00,0.00,965.00,1.00,0.00,1.00,0.00,29.00,35614.00
75%,1397906.00,0.00,0.00,2183.00,1.00,0.00,1.00,0.00,122.00,54534.00
max,1583733.00,1.00,1.00,885000006.00,1.00,253.00,40878.00,5712.00,3352.00,84546.00

In [42]:
raw_vote_user['id'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 677085 entries, 0 to 677084
Series name: id
Non-Null Count   Dtype
--------------   -----
677085 non-null  int64
dtypes: int64(1)
memory usage: 5.2 MB

In [43]:
raw_vote_user['id'] = raw_vote_user['id'].astype(str)

In [44]:
raw_vote_user['id'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 677085 entries, 0 to 677084
Series name: id
Non-Null Count   Dtype
--------------   -----
677085 non-null  object
dtypes: object(1)
memory usage: 5.2+ MB

In [45]:
# 내부데이터의 user list 추출해서 hackle event에 필터링
vote_user_list = raw_vote_user['id'].unique()
duple_user_condition = raw_hackle_merge['user_id'].isin(vote_user_list)
filtered_hackle_merge = raw_hackle_merge[duple_user_condition] # 필터링된 hackle 속성&이벤트 merge dataframe
print(f"내부데이터로 필터링된 hackle 이벤트 유저아이디 고유값: {filtered_hackle_merge['user_id'].nunique()}")

내부데이터로 필터링된 hackle 이벤트 유저아이디 고유값: 226365

In [46]:
filtered_hackle_merge.head()

,id_x,session_id,user_id,language,osname,osversion,versionname,device_id,event_id,event_datetime,event_key,id_y,item_name,page_name,friend_count,votes_count,heart_balance,question_id
61,2,8QXy31PQxbW9qLzq0Y1dhR8Ypm52,1046711,ko-KR,iOS,16.5.1,2.0.3,D5417226-F71B-4A9E-A180-CD072F2AB279,00000716-27e9-4e72-a602-d0ce61784b06,2023-07-18 21:07:24,click_question_open,00000716-27e9-4e72-a602-d0ce61784b06,NaN,NaN,64.00,436.00,4830.00,NaN
62,2,8QXy31PQxbW9qLzq0Y1dhR8Ypm52,1046711,ko-KR,iOS,16.5.1,2.0.3,D5417226-F71B-4A9E-A180-CD072F2AB279,0294d883-0e06-415c-b970-5e8ee2517b60,2023-07-18 21:01:38,$session_start,0294d883-0e06-415c-b970-5e8ee2517b60,NaN,NaN,NaN,NaN,NaN,NaN
63,2,8QXy31PQxbW9qLzq0Y1dhR8Ypm52,1046711,ko-KR,iOS,16.5.1,2.0.3,D5417226-F71B-4A9E-A180-CD072F2AB279,0acb0eb0-3bc9-48b9-a166-080888572fc6,2023-07-18 21:17:44,view_lab_tap,0acb0eb0-3bc9-48b9-a166-080888572fc6,NaN,NaN,64.00,436.00,4830.00,NaN
64,2,8QXy31PQxbW9qLzq0Y1dhR8Ypm52,1046711,ko-KR,iOS,16.5.1,2.0.3,D5417226-F71B-4A9E-A180-CD072F2AB279,0cf6ba3e-9bc1-4919-8c2e-904c475d0fb7,2023-07-18 21:04:50,click_bottom_navigation_questions,0cf6ba3e-9bc1-4919-8c2e-904c475d0fb7,NaN,NaN,64.00,436.00,4830.00,NaN
65,2,8QXy31PQxbW9qLzq0Y1dhR8Ypm52,1046711,ko-KR,iOS,16.5.1,2.0.3,D5417226-F71B-4A9E-A180-CD072F2AB279,0e1e65e3-f314-4298-9946-59497cf028cb,2023-07-18 21:07:48,click_question_share,0e1e65e3-f314-4298-9946-59497cf028cb,NaN,NaN,64.00,436.00,4830.00,NaN

In [47]:
filtered_session_duplicated_user = filtered_hackle_merge.groupby(by='session_id').agg(user_count=('user_id', 'nunique')).reset_index().sort_values(by='user_count', ascending=False)
filtered_sdu_cond1 = filtered_session_duplicated_user['user_count'] > 1
filtered_hackle_merge_duplicated_user = filtered_session_duplicated_user[filtered_sdu_cond1]
print(f"필터링된 해클 이벤트에서 한 세션당 여러개의 유저아이디를 가진 세션 개수: {len(filtered_hackle_merge_duplicated_user)}")

필터링된 해클 이벤트에서 한 세션당 여러개의 유저아이디를 가진 세션 개수: 52

In [48]:
filtered_hackle_merge_duplicated_user.head(10)
# 가장 많았던 5건은 그대로 있음. 동시로그가 많이 찍혔던거라 에러가 맞음!

                                  session_id  user_count
947     040914e1-61ac-40ef-b76a-718066d880dc           5
65740   B941F9F9-CF53-4DAE-A204-75E666B5D277           3
49226   87046FBA-B84B-4124-ADE9-EA03DF95E7B8           2
123374          SDCe4wZnO9eBy8aQ1SxAHAIlg7f2           2
12243   21ef715c-d365-405b-a5ad-cdba4fc79ff3           2
168026          fCosjVWfPnZGBGbgUt4Q4QMLVnx1           2
40200   6c7a7b9d-6893-4538-a677-2888eadd629a           2
79991   E9283357-DCCC-4DFD-8CC7-7A67ABEBF0E0           2
98413           JZWG739A2gVOXuDZwx8l3MEF9zN2           2
196346          ooZNiceIljc8cstryHqkmDm8oYi1           2

In [49]:
# 한 session_id에 user_id 3개 기록된 내용
userid_duplicated_in_merge = filtered_hackle_merge[filtered_hackle_merge['session_id'] == 'B941F9F9-CF53-4DAE-A204-75E666B5D277']
userid_duplicated_in_merge.sort_values(by='event_datetime')[['event_datetime', 'user_id', 'osname', 'osversion', 'versionname', 'device_id', 'event_key']].head(30)

,event_datetime,user_id,osname,osversion,versionname,device_id,event_key
9773484,2023-07-19 00:34:07,1579831,iOS,16.6,2.0.5,B941F9F9-CF53-4DAE-A204-75E666B5D277,$session_start
6145257,2023-07-19 00:34:07,1579057,iOS,16.6,2.0.3,B941F9F9-CF53-4DAE-A204-75E666B5D277,$session_start
47671,2023-07-19 00:34:07,947584,iOS,16.6,2.0.5,B941F9F9-CF53-4DAE-A204-75E666B5D277,$session_start
6449331,2023-07-19 00:34:07,947584,iOS,16.6,2.0.3,B941F9F9-CF53-4DAE-A204-75E666B5D277,$session_start
6450121,2023-07-19 00:34:24,947584,iOS,16.6,2.0.3,B941F9F9-CF53-4DAE-A204-75E666B5D277,view_signup
6146047,2023-07-19 00:34:24,1579057,iOS,16.6,2.0.3,B941F9F9-CF53-4DAE-A204-75E666B5D277,view_signup
48461,2023-07-19 00:34:24,947584,iOS,16.6,2.0.5,B941F9F9-CF53-4DAE-A204-75E666B5D277,view_signup
9774274,2023-07-19 00:34:24,1579831,iOS,16.6,2.0.5,B941F9F9-CF53-4DAE-A204-75E666B5D277,view_signup
6450060,2023-07-19 00:34:28,947584,iOS,16.6,2.0.3,B941F9F9-CF53-4DAE-A204-75E666B5D277,view_signup
9774213,2023-07-19 00:34:28,1579831,iOS,16.6,2.0.5,B941F9F9-CF53-4DAE-A204-75E666B5D277,view_signup
48400,2023-07-19 00:34:28,947584,iOS,16.6,2.0.5,B941F9F9-CF53-4DAE-A204-75E666B5D277,view_signup
6145986,2023-07-19 00:34:28,1579057,iOS,16.6,2.0.3,B941F9F9-CF53-4DAE-A204-75E666B5D277,view_signup
6450749,2023-07-19 00:35:09,947584,iOS,16.6,2.0.3,B941F9F9-CF53-4DAE-A204-75E666B5D277,view_signup
49089,2023-07-19 00:35:09,947584,iOS,16.6,2.0.5,B941F9F9-CF53-4DAE-A204-75E666B5D277,view_signup
9774902,2023-07-19 00:35:09,1579831,iOS,16.6,2.0.5,B941F9F9-CF53-4DAE-A204-75E666B5D277,view_signup
6146675,2023-07-19 00:35:09,1579057,iOS,16.6,2.0.3,B941F9F9-CF53-4DAE-A204-75E666B5D277,view_signup
6449018,2023-07-19 00:35:25,947584,iOS,16.6,2.0.3,B941F9F9-CF53-4DAE-A204-75E666B5D277,view_signup
47358,2023-07-19 00:35:25,947584,iOS,16.6,2.0.5,B941F9F9-CF53-4DAE-A204-75E666B5D277,view_signup
9773171,2023-07-19 00:35:25,1579831,iOS,16.6,2.0.5,B941F9F9-CF53-4DAE-A204-75E666B5D277,view_signup
6144944,2023-07-19 00:35:25,1579057,iOS,16.6,2.0.3,B941F9F9-CF53-4DAE-A204-75E666B5D277,view_signup
9774663,2023-07-19 00:35:41,1579831,iOS,16.6,2.0.5,B941F9F9-CF53-4DAE-A204-75E666B5D277,view_signup
6146436,2023-07-19 00:35:41,1579057,iOS,16.6,2.0.3,B941F9F9-CF53-4DAE-A204-75E666B5D277,view_signup
48850,2023-07-19 00:35:41,947584,iOS,16.6,2.0.5,B941F9F9-CF53-4DAE-A204-75E666B5D277,view_signup
6450510,2023-07-19 00:35:41,947584,iOS,16.6,2.0.3,B941F9F9-CF53-4DAE-A204-75E666B5D277,view_signup
9774855,2023-07-19 00:36:16,1579831,iOS,16.6,2.0.5,B941F9F9-CF53-4DAE-A204-75E666B5D277,view_signup
49042,2023-07-19 00:36:16,947584,iOS,16.6,2.0.5,B941F9F9-CF53-4DAE-A204-75E666B5D277,view_signup
6450702,2023-07-19 00:36:16,947584,iOS,16.6,2.0.3,B941F9F9-CF53-4DAE-A204-75E666B5D277,view_signup
6146628,2023-07-19 00:36:16,1579057,iOS,16.6,2.0.3,B941F9F9-CF53-4DAE-A204-75E666B5D277,view_signup
6146336,2023-07-19 00:36:17,1579057,iOS,16.6,2.0.3,B941F9F9-CF53-4DAE-A204-75E666B5D277,view_signup
6450410,2023-07-19 00:36:17,947584,iOS,16.6,2.0.3,B941F9F9-CF53-4DAE-A204-75E666B5D277,view_signup

In [50]:
userid_duplicated_in_merge.groupby(by='user_id').agg(count=('event_key', 'count'))

         count
user_id
1579057   1997
1579831   1997
947584    3994

- 하나의 세션에 여러개의 유저아이디가 기록된건 대부분 에러인 것으로 추정.
- 내부데이터에도 중복기재된 아이디이기때문에 이 아이디 목록은 내부데이터에서도 삭제할 필요 있음

In [51]:
# vote table user list로 필터링 & 중복 오류 포함된 session_id 제거한 hackle_merge dataframe 생성(= 전처리)
error_session_list = filtered_hackle_merge_duplicated_user['session_id'].unique()
processed_hackle_merge = filtered_hackle_merge[~filtered_hackle_merge['session_id'].isin(error_session_list)].reset_index(drop=True)

In [62]:
print(f"1️⃣ raw data version count\
      \n {raw_hackle_merge['versionname'].value_counts()}")
print('-' * 10)

1️⃣ raw data version count
 versionname
2.0.5     15826267
2.0.3      8874886
2.0.0      2056862
1.2.15      245864
1.2.16      241316
1.2.19       79113
1.2.10        7107
1.2.8         1361
2.0.4          333
1.0.0           43
1.2.1           10
1.2.3           10
1.2.4            5
1.2.9            4
1.2.5            3
2.0.2            2
Name: count, dtype: int64
----------

In [63]:
print(f"2️⃣ filtered version count\
      \n {filtered_hackle_merge['versionname'].value_counts()}")
print('-' * 10)
print(f"3️⃣ processed version count\
      \n {processed_hackle_merge['versionname'].value_counts()}")

2️⃣ filtered version count
 versionname
2.0.5     12022792
2.0.3      6593344
2.0.0      1497055
1.2.19       45604
1.2.8           60
Name: count, dtype: int64
----------
3️⃣ processed version count
 versionname
2.0.5     11999841
2.0.3      6579701
2.0.0      1496457
1.2.19       45604
1.2.8           60
Name: count, dtype: int64

### 3-1-3. 해클 이벤트

In [53]:
raw_hackle_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11441319 entries, 0 to 11441318
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   event_id        object
 1   event_datetime  object
 2   event_key       object
 3   session_id      object
 4   id              object
 5   item_name       object
 6   page_name       object
 7   friend_count    float64
 8   votes_count     float64
 9   heart_balance   float64
 10  question_id     float64
dtypes: float64(4), object(7)
memory usage: 960.2+ MB

In [54]:
raw_hackle_events.head()

,event_id,event_datetime,event_key,session_id,id,item_name,page_name,friend_count,votes_count,heart_balance,question_id
0,00000533-3f1c-4b3b-81f1-0c8f35754b4e,2023-07-18 19:40:17,$session_start,4OzYh3seq3VKytpSn5pvQkZNQii1,00000533-3f1c-4b3b-81f1-0c8f35754b4e,NaN,NaN,NaN,NaN,NaN,NaN
1,00000716-27e9-4e72-a602-d0ce61784b06,2023-07-18 21:07:24,click_question_open,8QXy31PQxbW9qLzq0Y1dhR8Ypm52,00000716-27e9-4e72-a602-d0ce61784b06,NaN,NaN,64.00,436.00,4830.00,NaN
2,000007c8-68ce-40e6-9b1e-f0e34e8ff9cc,2023-08-06 20:18:03,click_bottom_navigation_profile,6bcea65d-9f40-46fc-888c-700fe707483f,000007c8-68ce-40e6-9b1e-f0e34e8ff9cc,NaN,NaN,26.00,174.00,4729.00,NaN
3,00000981-5e2a-4111-993e-4f1891ad9a53,2023-08-05 01:46:10,view_shop,XVYNT6zfhFWqIg9omwg2AHDjTLx2,00000981-5e2a-4111-993e-4f1891ad9a53,NaN,NaN,61.00,44.00,142.00,NaN
4,00000a7a-ba72-4332-b4a9-7910670aaeb2,2023-07-24 15:03:37,click_bottom_navigation_lab,XFB2SPiGfjbVhvJ3Q3DBsaT3m2B3,00000a7a-ba72-4332-b4a9-7910670aaeb2,NaN,NaN,119.00,545.00,3287.00,NaN

## 3-2. vote table

- hackle_event에서 이상치가 컸던 heart_balance의 확인을 위해 vote_table의 구매이력 확인
- 오류 방지를 위해 위에서 계산한 user_id filter 먼저 수행

### 3-2-1. 유저

In [ ]:
# hackle에서 삭제한 session_id에 해당하는 user_id 제거
duplicated_session_list = filtered_hackle_merge_duplicated_user['session_id'].unique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 677085 entries, 0 to 677084
Data columns (total 16 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  677085 non-null  object
 1   is_superuser        677085 non-null  int64
 2   is_staff            677085 non-null  int64
 3   gender              677083 non-null  object
 4   point               677085 non-null  int64
 5   friend_id_list      677085 non-null  object
 6   is_push_on          677085 non-null  int64
 7   created_at          677085 non-null  object
 8   block_user_id_list  677085 non-null  object
 9   hide_user_id_list   677085 non-null  object
 10  ban_status          677085 non-null  object
 11  report_count        677085 non-null  int64
 12  alarm_count         677085 non-null  int64
 13  pending_chat        677085 non-null  int64
 14  pending_votes       677085 non-null  int64
 15  group_id            677082 non-null  float64
dtypes: float64(1), int64(8), object(7)
memory usage: 82.7+ MB